@model SV19T1081026.AdminTool.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý bình luận";
}
<form id="formSearch" action="/Comment/Search" onsubmit="return false;">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        @Html.TextBoxFor(m => m.SearchValue
                                            , new{@class = "form-control",
                                                  @placeholder = "Nhập giá trị cần tìm",
                                                  @autofocus = "autofocus"
                                                 })

        @Html.HiddenFor(m => m.PageSize)
        <span class="input-group-btn">
            <button id="butSearch" class="btn btn-info btn-flat">Tìm kiếm</button>
            <a href="~/Comment/Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Bổ sung</a>
        </span>
    </div>
</form>

<div id="searchResult"></div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#butSearch").click(function () {
                doSearch(1);
            })
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var link = $("#formSearch").prop("action");
            var data = $("#formSearch").serializeArray();
            data.push({ "name": "page", "value": page });
            console.log(data);
            $.ajax({
                url: link,
                type: "POST",
                data: data,
                async: false,
                error: function () {
                    alert("Your request is not valid")
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

    </script>
}