@model SV19T1081026.AdminTool.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý tài khoản";
}
<form id="formSearch" action="~/UserAccount/Search" onsubmit="return false;">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        @Html.TextBoxFor(m => m.SearchValue,
                        new
                             {
                                @class = "form-control",
                                @placeholer = "Nhập giá trị cần tìm...",
                                @autofocus = "autofocus"
                        })
        @Html.HiddenFor(m => m.PageSize)
        <span class="input-group-btn">
            <button id="buttonSearch" type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
            <a href="~/UserAccount/Create" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Bổ sung
            </a>
        </span>

    </div>
</form>
<br />
<div class="box box-success">
    <div class="box-body" id="searchResult">
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#buttonSearch").click(function () {
                paginationSearch(1);
            });
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                paginationSearch(1);
                return false;
            });
            paginationSearch(@Model.Page);
        })
    </script>
}