@{
    ViewBag.Title = "Đổi mật khẩu tài khoản cá nhân";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <form class="form-horizontal" action="~/Account/SavePassword" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-sm-2" for="oldPassword">Mật khẩu cũ:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword" autofocus>
                    @Html.ValidationMessage("oldPassword", new { @style = "color:#ff0000;" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="newPassword">Mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                    @Html.ValidationMessage("newPassword", new { @style = "color:#ff0000;" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="confirmPassword">Xác nhận mật khẩu:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                    @Html.ValidationMessage("confirmPassword", new { @style = "color:#ff0000;" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger">
                        <i class="glyphicon glyphicon-edit"></i>
                        Lưu thông tin
                    </button>

                    <a href="~/Account" class="btn btn-warning">Quay lại</a>
                </div>
            </div>


        </form>



    </div>
</div>