<header>
    <div class="head">
        <div class="headerobjectswrapper">
            <h1>Newpost York</h1>
        </div>
        <div style="height:40px">
            <h6 class="subhead" style="font-weight:normal;">
                News,@DateTime.Now
            </h6>
        </div>
    </div>
</header>

