<footer class="footer" style="background-color: #f9f7f1;>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <div class="copyright">&copy; DINHTRUONG. Design: <a href="http://html.design" text-decoration-line:none">DTNEWS</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->